/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
    overflow-x: hidden
}

section {
    margin-bottom: 30px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
.menu {
    position: fixed;
    z-index: 20;
    overflow: hidden;
    padding-top: 5px;

    box-shadow: inset 0 5px 0 rgba(0,0,0,0.45);
    -webkit-box-shadow: inset 0 5px 0 rgba(0,0,0,0.45);
    background: #363636;
    color: #c5c5c5;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu .left {
    float:left;
    text-align: left;
    padding-left: 15% !important;
}

.menu .right {
    padding-right: 15% !important;
    float:right;
    text-align: right;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}
body.pml-open #wrapper {
    left: 300px
}
body.pmr-open #wrapper {
    left: -300px
}
/* slide menu top and bottom */

.slide-menu-bottom,
.push-menu-bottom {
    left: 0;
    width: 100%;
    height: 100px;
}
.slide-menu-bottom ul,
.push-menu-bottom ul {
    text-align: center;
    padding: 25px 0 0 0;
}
.slide-menu-bottom li,
.push-menu-bottom li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.slide-menu-bottom a,
.push-menu-bottom a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
}

.slide-menu-bottom button.close-menu,
.push-menu-bottom button.close-menu {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}
.slide-menu-bottom,
.push-menu-bottom {
    bottom: -100px
}
body.smb-open .slide-menu-bottom,
body.pmb-open .push-menu-bottom {
    bottom: 0
}
body.pmt-open #wrapper {
    top: 100px
}
body.pmb-open #wrapper {
    top: -100px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) { 
	.buttons br {
	  	display: none
	}
	.buttons button {
	  	padding: 10px 20px
	}
}
@media all and (max-width: 660px) { 
	/* slide menu top and bottom */
	.slide-menu-bottom ul,
	.push-menu-bottom ul {
	  	padding: 35px 0 0 0
	}
	.slide-menu-bottom a,
	.push-menu-bottom a {
	  	line-height: 30px;
	  	padding: 0 2px;
	  	font-size: 12px;
	}
	.slide-menu-bottom button.close-menu,
	.push-menu-bottom button.close-menu {
	  	line-height: 30px;
	  	padding: 0 2px;
	}
}